_h1, h2, h3{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

h1{
    font-size: 100px;
    color: black;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

ul {
    color: white;
}

body{
    background: gray;
}

a, p{
    color: orange;
    margin: 2cm 3cm 2cm 3cm;
}

.extreme{
    background: orange;
}

.navzone {
    border: 100px solid black;
}

.content {
    background: black;
}